body {
    background-color: #DBCBBD;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 20px;
}

.navbar {
    /*background-color: #222831;*/
    background-color: #290001;
}

#logo {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

header {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(depositphotos_26647967-stock-photo-twilight-sky.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    color: #bbb;

}

h1 {
    font-size: 50px;
    font-weight: 400px;
    margin: 0;
    font-variant-caps: normal;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive;
}

.content {
    padding: 100px;
}


.animate__animated.animate__fadeInUp {
    --animate-delay: 1s;
    --animate-duration: 3s;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 3s;
}

footer .main-footer {
    padding: 20px 0;
    background: #252525;
}

footer ul {
    padding-left: 0;
    list-style: none;
}




ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #ff8d1e;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;

}